

#yourPick{
  position:relative;
  border:solid 2px;
font-size:70px;
color:blue;
/*right:150px;*/
margin-top:10px;
text-align:center;

}
#computerPick{

position:relative;
font-size:70px;
color:green;
/*margin-top:50px;*/
border:solid 2px;
text-align:center;

}
#winOrLose{
position:relative;
font-size:70px;
color:yellow;
/*margin-top:50px;*/
border:solid 2px;
text-align:center;

}

.images{
position:relative;

padding:15px;
top:140px;
left:470px;
}

#Score{

  color:white;
}

#Scoreboard{

  color:white;
}